# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata
*.moved-aside
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
Packages/
Package.resolved
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
.vscode
Thumbs.db
deploy/
xcuserdata/
*.xcuserstate